.filter-wrapper {
  display: flex;
  justify-content: center;
}
.filter-wrapper > div {
  margin: 10px;
  border: 1px solid rgb(189, 123, 1);
  padding: 10px;
  cursor: pointer;
}
.filters-wrapper {
  border: 1px solid rgb(104, 87, 119);
  padding-top: 3px;
  border-radius: 10px;
}
.filters-wrapper > span {
  color: rgb(248, 132, 0);
}
.filter-wrapper > div:hover {
  color: rgb(255, 255, 255);
  border: 1px solid red;
  background-color: rgb(255, 174, 0);
  transition: 1s;
}
.selected {
  background-color: rgb(255, 123, 0);
  color: black;
  transition: 1s;
  width: 150px;
}
.unselected {
  transition: 1s;
  width: 100px;
}
