.link-wrapper {
  margin: 40px;
  padding: 5px;
}
.link-wrapper > a {
  padding: 10px;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  background-color: rgb(85, 43, 124);
  transition: 1s;
  margin: 2px;
}
.link-wrapper > a:hover {
  background-color: aliceblue;
  transition: 1s;
  color: black;
}
