.wrapper {
  background-color: rgb(91, 72, 100);
}
.container {
  background-color: rgb(54, 73, 126);
  width: 70%;
  margin: auto;
  border: 1px solid rgb(255, 136, 0);
  color: rgb(60, 255, 0);
  min-height: 900px;
  padding: 10px;
}
