.strike {
  color: rgb(0, 146, 49);
  text-decoration: line-through;
  transition: 1s;
}
.normal {
  color: rgb(60, 255, 0);
  transition: 1s;
}
.text-wrapper {
  display: inline;
}
.todo-wrapper {
  border-radius: 10px;
}
.delete-button {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.082);
  background-color: rgba(112, 0, 112, 0.096);
  color: rgb(255, 0, 0);
  padding: 0 3px;
  margin: 0 10px;
  cursor: pointer;
  transition: 1s;
}
.delete-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 1s;
}
.todo {
  display: flex;
  justify-content: space-between;
}
.edit {
  color: black;
  text-align: center;
}
